body,
html {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  background: #274252;
}

.main-screen {
  height: 100%;
}

.header-container {
  margin: 0 auto;
  padding: 1rem;
}

.header-container > h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.main-content {
  margin: 0 auto;
  width: 60%;
}

.channel-container {
  background: #fff;
  padding: 2rem;
  height: 50px;
  margin: 1rem 0;
  display: flex;
  height: 70px;
}

.navigation {
  background: #2985bb;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  padding: 1rem;
}
