* {
  box-sizing: content-box;
}
body,
html {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  background: #274252;
}

.main-screen {
  height: 100%;
}

.header-container {
  margin: 0 auto;
  padding: 1rem;
}

.header-container > h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.main-content {
  margin: 0 auto;
  width: 60%;
}

.channel-container {
  background: #649771;
  padding: 1rem;
  height: 50px;
  margin: 1rem;
  display: flex;
  height: 60px;
  overflow: hidden;
  align-items: center;
}

.navigation {
  background: #2985bb;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  padding: 1rem;
}

.channels-list {
  margin-top: 1rem;
  height: 100%;
  padding: 0.5rem;
  background: #2985bb;
}

.channel-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

.channel-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.channel-logo {
  max-width: 100%;
  height: auto;
}

.offline {
  background: #d6978f;
}
