* {
  box-sizing: content-box;
  font-family: 'Roboto Mono', monospace;
}
body,
html {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  background: #274252;
}

.main-screen {
  height: 100%;
}

.header-container {
  margin: 0 auto;
  padding: 1rem;
}

.header-container > h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.main-content {
  margin: 0 auto;
  width: 90%;
}

.channel-container {
  background: #649771;
  padding: 0.5rem;
  height: 50px;
  margin: 1rem 0;
  min-height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.channel-text {
  flex: 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 1rem;
}

.navigation {
  background: #2985bb;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

.nav-item:hover {
  cursor: pointer;
  background: #274252;
}

.selected {
  outline: 3px solid #000;
  color: #fff;
}

.channels-list {
  margin-top: 1rem;
  height: 100%;
  padding: 0.5rem 0;
  background: #2985bb;
}

.channel-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}

.channel-link:hover {
  text-decoration: underline;
}

.channel-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.channel-logo {
  max-width: 100%;
  height: auto;
}

.channel-text > div {
  margin-top: 0.5rem;
}

.offline {
  background: #94655f;
}

.hide {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-item {
    padding: 1.5rem;
    font-size: 2rem;
  }
  .main-content {
    margin: 0 auto;
    width: 50%;
  }

  .channel-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .channel-img {
    width: 80px;
    height: 80px;
  }

  .channel-container {
    margin: 1rem auto;
    padding: 0.5rem 5rem;
    min-height: 80px;
  }

  .details {
    font-size: 1.5rem;
  }

  .channel-name {
    flex: 2;
  }

  .stream {
    flex: 4;
    text-align: right;
  }

  .channel-link {
    text-align: center;
  }
}
